{% extends 'admin/layout.html.twig' %}

{# Using this Twig template as additional theme for fine-tuning this specific view #}
{% data_table_theme posts with [_self, ...posts.vars.themes] only %}

{% block body_id 'admin_post_index' %}

{% block body %}
    <div class="row">
        <div id="main" class="col">
            {{ include('default/_flash_messages.html.twig') }}

            <div class="row mb-3">
                <div class="col-12 col-xl-6">
                    <h1>{{ 'title.post_list'|trans }}</h1>
                </div>
                <div class="col-12 col-xl-6" id="sidebar">
                    {{ show_source_code(_self) }}
                </div>
            </div>

            {{ data_table(posts) }}
        </div>
    </div>
{% endblock %}

{# Just for example, this block is used by the data table #}
{% block column_actions_value %}
    <div style="width: 9.5rem">{{ block('column_actions_value', '@KreyuDataTable/themes/bootstrap_5.html.twig') }}</div>
{% endblock %}
